.info-list {
  &--key {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
    margin-right: 8px;
    color: rgba(0,0,0,.85);
    white-space: nowrap;
    display: table-cell;
    &:after {
      content: ":";
      margin: 0 8px 0 2px;
      position: relative;
      top: -.5px;
    }
  }
  &--val {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
    color: rgba(0,0,0,.65);
    display: table-cell;
  }
}