.info-list {
  display: inline-block;
  & + & {
    margin-left: $base-ratio-px * 2;
  }
  &--key,
  &--val {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: $base-ratio-px;
    display: table-cell;
  }
  &--key {
    margin-right: 8px;
    color: rgba(0,0,0,.85);
    white-space: nowrap;
    &:after {
      content: ":";
      margin: 0 8px 0 2px;
      position: relative;
      top: -.5px;
    }
  }
  &--val {
    color: rgba(0,0,0,.65);
  }
}
